:root {
    --white: hsl(0, 0%, 100%);
    --lightGray: hsl(212, 45%, 89%);
    --grayishBlue: hsl(220, 15%, 55%);
    --darkBlue: hsl(218, 44%, 22%);
    --fuente: 'Outfit', sans-serif;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 62.5%; /* Permite que un REM sea equivalente a 10px */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    background-color: var(--lightGray);
    font-family: var(--fuente);
}

img {
  width: 100%;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.flex {
    height: 100%;
    min-height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 32rem;
    background-color: var(--white);
    padding: 1.6rem;
    padding-bottom: 2rem;
    border-radius: 1.8rem;
    box-shadow: 0px 38px 65px -15px rgba(194,194,194,0.75);
    margin: 6rem auto;
}

.card__qr {
    border-radius: 1rem;
}

.card__title {
    text-align: center;
    color: var(--darkBlue);
    font-size: 2.2rem;
    line-height: 1.2;
    margin: 2.2rem 1rem;
}

.card__text {
    text-align: center;
    color: var(--grayishBlue);
    font-size: 1.6rem;
    margin: 1.8rem 1.5rem;
}

/* ATTRIBUTION */
.attribution {
  width: 100%;
  text-align: center;
  color: var(--darkBlue);
}

.attribution a {
  color: var(--grayishBlue);
  text-decoration: none;
  font-weight: bold;
}